


<div>
  
    <div class="box post" id="post-41">
        <div class="content">
            <div class="post-title">
            <p></p>
                <h2>
                    New game. Original Sudoku game </h2>
            </div>
            <!--/post-title -->
            <div class="social-links">
                <div class="post-date">
                    <span>On 15.11.12, In <a href="#" title="View all posts in Tutorials" rel="category tag">
                        Tutorials</a>, by <a href="#" title="Posts by Coder">Dream Prog</a></span>
                </div>
                <div class="fl">
                    <a href="#" title="View Comments">12 comments</a></div>
            </div>
            <!--/social-links -->
            <div class="clr">
            </div>
            <div class="pic">
                <a href="#" rel="bookmark" title="Permanent Link to Using jQuery To Create A OSX Dock Effect">
					<%= image_tag "SUDOQU.gif", :alt=>"Post Pic", :size => "550x170"%>
            </div>
            <div class="clr">
            </div>
            <div class="post-excerpt" style="text-align: justify ">
                <p>
                   Sudoku is a logic-based, combinatorial number-placement puzzle. The objective is to fill a 9?9 grid with digits so that each column, each row, and each of the nine 3?3 sub-grids that compose the grid  contains all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which typically has a unique solution.
                  Completed puzzles are always a type of Latin square with an additional constraint on the contents of individual regions. For example, the same single integer may not appear twice in the same 9?9 playing board row or column or in any of the nine 3?3 subregions of the 9?9 playing board.
                  The puzzle was popularized in 1986 by the Japanese puzzle company Nikoli, under the name Sudoku, meaning single number.[5] It became an international hit in 2005.</p>
                <p>
                    <a href="#">Continue reading</a></p>
            </div>
            <!--/post-excerpt -->
        </div>
        <!--/content -->
    </div>
    <div class="clr">
    </div>
    <!--/box -->
    <div class="box post" id="post-41">
        <div class="content">
            <div class="post-title">
                <h2>
                    Olya have donated 1000$ during last month </h2>
            </div>
            <!--/post-title -->
            <div class="social-links">
                <div class="post-date">
                    <span>On 5.09.12, <a href="#" title="View all posts in Tutorials" rel="category tag">
                        </a>, by <a href="#" title="Posts by Maximus">Dream Template</a></span></div>
                <div class="fl">
                    <a href="#" title="View Comments"> 7 comments</a></div>
            </div>
            <!--/social-links -->
            <div class="pic">
                <a href="#" rel="bookmark" title="Permanent Link to Using jQuery To Create A OSX Dock Effect"></a>
                    
            </div>
            <div class="clr">
            </div>
            <div class="post-excerpt">
                <p>
                    It was so perfect to donate to poor people. I spent about 10 hours a day...
                   </p>
                <p>
                    <a href="#">Continue reading</a></p>
            </div>
            <!--/post-excerpt -->
        </div>
        <!--/content -->
    </div>
    <div class="clr">
    </div>
    <!--/box -->
    <div class="box post" id="post-41">
        <div class="content">
            <div class="post-title">
                <h2>
                    New possibilities in free donation by Qatar foundation....
                    </h2>
            </div>
            <!--/post-title -->
            <div class="social-links">
                <div class="post-date">
                    <span> On 10.11.12, In <a href="#" title="View all posts in Tutorials" rel="category tag">
                        News </a>, by <a href="#" title="Posts by Maximus" ></a></span></div>
                <div class="fl">
                    <a href="#" title="View Comments"> 0 comments  </a></div>
            </div>
            <!--/social-links -->
            <div class="pic">
                <a href="#" rel="bookmark" title="Permanent Link to Using jQuery To Create A OSX Dock Effect">
                    <%= image_tag "PEOPLE.gif", :alt=>"Post Pic", :size => "560x152"%>
            </div>
            <div class="clr">
            </div>
            <div class="post-excerpt">
                <p>
                </p>
                <p>
                    <a href="#"> Continue reading</a></p>
            </div>
            <!--/post-excerpt -->
        </div>
        <!--/content -->
    </div>
    <div class="clr">
    </div>
    <!--/box -->
    <div class="clr">
    </div>
    <div class="wp-pagenavi">
        <span class="pages">&#8201;Page 1 of 2&#8201;</span><span class="current">&#8201;1&#8201;</span><a
            href="#" title="2">&#8201;2&#8201;</a><a href="#">&raquo;</a>
        <div class="clr">
        </div>
    </div>
    <!--/centercol -->
</div>
