
<div class="box post">
	<div style="margin:5px;">
			<center><h2> Super games </h2></center>
			<br />
				<button ><%= link_to "Play Game", :controller=>"game", :action=>"start" %> </button>
	</div>
</div>